/* -------------------------------------
Large Screen Styles (from 992px upwards)
------------------------------------- */
@include breakpoint(largeScreen) {
    /* Hide Mobile Navbar */
    .mobileBanner, .mobileBannerHeight {
        display: none;
    }

    .desktopBanner, .desktopMenu, .desktopSubMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .titreH4 {
        font-size: 24px;
    }
    

    /* Styles Accueil Ecole
    -------------------------------------- */
    .accroche {
        font-size: 24px;
    
        span {
            font-size: 80px;
            line-height: 1.5;
        }
    }

    /* Styles Accueil Origine
    -------------------------------------- */
    .accrocheOrigine {
        padding: 0 2em;
    }

    .titreOrigine {
        padding: 0 2em;
    }

    .silhouette {
        right: 50px;
        max-width: 230px;
        top: 0px;
    }

    
    /* Footer */
    .footer {
    
        .adresse, .renseignements, .designers {
            font-size: 16px;
            letter-spacing: 3px;
        }
    
        .renseignements {
            font-size: 18px;
            margin-bottom: 0.3em;
        }
    
        .designers {
            font-size: 13px;
        }
    }
}

@include breakpoint(largeScreen1200) {
    
    /* Styles Accueil Origine
    -------------------------------------- */
    .silhouette {
        right: 50px;
        max-width: 195px;
        top: 30px;
    }
    
    .accrocheOrigine {
        right: 15px;
    }
}
