/* ---------------------------------------
Middle Screen Styles (from 600px upwards)
---------------------------------------- */
@include breakpoint(middleScreen) {    
    .titreH4 {
        font-size: 23px;
    }
    
    .accroche {
        font-size: 23px;
        letter-spacing: 1px;
    
        span {
            font-size: 65px;
            line-height: 1.3;
        }
    }

    /* Slider Accroches */
    .sliderAccroches {
        .slick-next, .slick-prev {
            // Display arrows
            &::before {
                display: block;
            }
        }
    }
    
    /* Footer */
    .footer {
        
        .adresse, .renseignements, .designers {
            font-size: 14px;
        }
    
        .renseignements {
            font-size: 15px;
            margin-bottom: 0.4em;
        }
    
        .designers {
            font-size: 13px;
        }
    }

    /* Styles Accueil Origine */
    .silhouetteSwap .silhouetteAbsolute img {
        width: 45vmin;
    }
}


@include breakpoint(middleScreen768) {

    /* Styles Accueil Origine */
    .silhouetteAbsolute {
        display: none;
    }

    .accrocheOrigine {
        text-align: right;
        position: relative;
        right: 30px;
    }

    .silhouette {
        display: block;
        position: relative;
        top: 20px;
        right: 10px;
        z-index: -1;
    }

    /* Slider Origine */
    .sliderOrigineContainer {
        padding: 30px 50px;

        .sliderOrigine {
            .slick-next {
                right: -45px;
            }
            .slick-prev {
                left: -45px;
            }
        }
    }
}


    