/* -----------------------------------
Small Screen Styles (from 599px downwards)
------------------------------------ */
/* Hide Desktop Navbar */
.desktopBanner, .desktopMenu, .desktopSubMenu {
    display: none;
}

/* Styles Généraux
---------------------------- */
.titreH4 {
    font: 600 22px $fontTitre;
    color: $softBlack;
    margin-bottom: 0.8rem;
}

p {
    font: 15px $fontTexte;
}

/* Styles Accueil Ecole
-------------------------------------- */
.accroche {
    font: italic 600 22px $fontTitre;
    color: $secondary;
    text-align: center;
    margin-bottom: 0.6em;
    margin-top: 1em;

    span {
        font: 55px $fontScript;
        line-height: 1.5;
    }
}

/* Styles Eleves formations
----------------------------- */
.block1 {

    display: inline-block;
    // margin-right: 40px;
    margin-top: 60px;
    margin-left: 10.5%;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $softBlack;
    border-radius: 5px;
    text-align: center;
    position: relative;

    .blocks-titles {

        height: 140px;
        background-color: $primary;
        box-shadow: 0px 3px 3px 0px rgba(46, 46, 46, 0.5);
        position: relative;

        p {
            font-family: $fontTexte;
            font-size: 30px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .blocks-texts {
        margin-top: 20px;
    }
}

.block2 {

    display: inline-block;
    margin-top: 60px;
    margin-left: 10.5%;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $softBlack;
    border-radius: 5px;
    text-align: center;
    position: relative;

    .blocks-titles {

        height: 140px;
        background-color: $primary;
        box-shadow: 0px 3px 3px 0px rgba(46, 46, 46, 0.5);
        position: relative;

        p {
            font-family: $fontTexte;
            font-size: 30px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .blocks-texts {
        margin-top: 20px;
    }
}    

.block3 {

    display: inline-block;
    margin-top: 60px;
    margin-left: 10.5%;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $softBlack;
    border-radius: 5px;
    text-align: center;
    position: relative;
    
    .blocks-titles {
    
        height: 140px;
        background-color: $primary;
        box-shadow: 0px 3px 3px 0px rgba(46, 46, 46, 0.5);
        position: relative;
    
        p {
            font-family: $fontTexte;
            font-size: 30px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
    }
    
    .blocks-texts {
        margin-top: 20px;
    }
}

.block4 {

    display: inline-block;
    margin-top: 60px;
    margin-left: 10.5%;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $softBlack;
    border-radius: 5px;
    text-align: center;
    position: relative;

    .blocks-titles {

        height: 140px;
        background-color: $primary;
        box-shadow: 0px 3px 3px 0px rgba(46, 46, 46, 0.5);
        position: relative;

        p {
            font-family: $fontTexte;
            font-size: 30px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .blocks-texts {
        margin-top: 20px;
    }
}

.block5 {

    display: inline-block;
    margin-top: 60px;
    margin-left: 10.5%;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $softBlack;
    border-radius: 5px;
    text-align: center;
    position: relative;

    .blocks-titles {

        height: 140px;
        background-color: $primary;
        box-shadow: 0px 3px 3px 0px rgba(46, 46, 46, 0.5);
        position: relative;

        p {
            font-family: $fontTexte;
            font-size: 30px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .blocks-texts {
        margin-top: 20px;
    }
}

/* Styles Accueil Origine
-------------------------------------- */
.headerOrigine {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.silhouetteSwap {
    position: relative;    

    .silhouetteAbsolute img {
        position: absolute;
        z-index: -9999;
        width: 50vmin;
        margin: auto;
        top: 30px;
        // bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
}


.silhouette {
    max-width: 250px;
    height: auto;
    margin: 1.5em auto;
    display: none;
    position: relative;

    img {
        width: 100%;
        height: auto;
        opacity: 0.5;
        position: absolute;
        top: -130px;
        left: 0;
        right: 0;
        margin: auto;
    }
}


/* Media Queries Small Screen
---------------------------- */
@include breakpoint(smallScreenSE) {
    .mobileBanner .logo img {     
        height: 28px;
        width: 196px;        
    }

    /* Slider Origine */
    .sliderOrigineContainer {
        padding: 30px 30px;

        .sliderOrigine {
            .slick-next, .slick-prev {
                &::before {
                    display: none;
                }
            }
        }        
    }
}

