/* -----------------------------------
Small Screen Styles (from 599px downwards)
------------------------------------ */
/* Hide Desktop Navbar */
.desktopBanner, .desktopMenu, .desktopSubMenu {
    display: none;
}

/* Styles Généraux
---------------------------- */
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.titreH4 {
    font: 600 22px $fontTitre;
    color: $softBlack;
    margin-bottom: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontTitre;
    font-weight: 600;
    color: $softBlack;
}

p, label, input, textarea {
    font: 15px $fontTexte;
    color: $softBlack;
}

main {
    margin-bottom: 1em;
}

.marginTopMain {        
    margin-top: 60px;
}

.highlightQuote {
    display:block;
    padding: 15px 20px 15px 45px;
    position: relative;
    border-left: 4px solid $secondary;
    border-right: 2px solid $secondary;
    -webkit-box-shadow: 0px 2px 5px 2px #ccc;
    box-shadow: 0px 2px 5px 2px #ccc;
    border-radius: 15px 0 0 15px;

    &::before {
        content: "\201C";
        position: absolute;
        left: 5px;
        top:-96px;
        font-family: $fontScript;
        font-size: 150px;
        color: $secondary;
    }

    :last-child {
        margin-bottom: 0.5em;
    }
}

/* Styles Accueil Ecole
-------------------------------------- */
.accroche {
    font: italic 600 22px $fontTitre;
    color: $secondary;
    text-align: center;
    margin-bottom: 0.6em;
    margin-top: 1em;

    span {
        font: 55px $fontScript;
        line-height: 1.5;
    }
}

/* Styles Accueil Origine
-------------------------------------- */
.headerOrigine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;    
}

.silhouetteSwap {
    position: relative;    

    .silhouetteAbsolute img {
        position: absolute;
        z-index: -9999;
        width: 50vmin;
        margin: auto;
        top: 30px;
        // bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
}


.silhouette {
    max-width: 250px;
    height: auto;
    margin: 1.5em auto;
    display: none;
    position: relative;

    img {
        width: 100%;
        height: auto;
        opacity: 0.5;
        position: absolute;
        top: -130px;
        left: 0;
        right: 0;
        margin: auto;
    }
}


/* Styles Eleves formations
----------------------------- */
.formationEleves {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:first-child {        
        margin-top: 60px;
    }

    .blockCenter {
        text-align: center !important;

        .blocks {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 400px;
            max-height: 550px;
            background-color: white;
            border: 1px solid $softBlack;
            border-radius: 5px;
            text-align: center;
            position: relative;
            
            a {
                text-decoration: none;
            }
        }

        .blocks-titles {

            height: 140px;
            background-color: $primary;
            background-image: url("../assets/imgtextures/raie_bleu_horizontale.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &:hover { opacity: 0.5;}

            p {
                font-family: $fontTexte;
                font-size: 20px;
                color: white;
                margin-bottom: 0;
            }
        }

        .blocks-texts {
            margin-top: 20px;
            padding: 1em;
            color: $softBlack;
        }
    }    
}

/* Styles Eleves financements
----------------------------- */
.header1 {
    background-image: url("../assets/imgtextures/raie_bleu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 1em;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 24px;
    text-align: center;
    max-width: 1140px;
    height: auto;
    
    h3 {
        color: white;
        // Fluid font
        $min_width: 320px;
        $max_width: 1200px;
        $min_font: 24px;
        $max_font: 38px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }

    p {
        color: white;
        // Fluid font
        $min_width: 320px;
        $max_width: 1200px;
        $min_font: 16px;
        $max_font: 20px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }

}

.efcontents {

    .salaries {
        padding: 1em;
        background-color: rgb(127, 208, 255);
        border: 1px solid $primary;
        border-radius: 5px;
        margin-bottom: 1.5em;

        img {
            float: left;
            width: 20%;
            height: auto;
            border-radius: 5px;
        }

        ul li {
            margin-left: 30px;
        }

        p:last-child {
            margin-bottom: 0;
        }

    }

    .salariesimg {
        height: auto;
        max-width: 100px;

        img {
            float: left;
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-right: 16px;
        }
    }
}

/*Styles Formations Pros
--------------------*/

.formationPros {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:first-child {        
        margin-top: 60px;
    }

    .blockCenter {
        text-align: center !important;

        .blocks {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 400px;
            max-height: 550px;
            background-color: white;
            border: 1px solid $softBlack;
            border-radius: 5px;
            text-align: center;
            position: relative;
            
            & a {
                text-decoration: none;
            }
        }

        .blocks-titles {

            height: 140px;
            background-color: $primary;
            background-image: url("../assets/imgtextures/raie_orange.jpg");
            background-position: 40%;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &:hover { opacity: 0.5;}

            p {
                font-family: $fontTexte;
                font-size: 20px;
                color: white;
                margin-bottom: 0;
            }
        }

        .blocks-texts {
            margin-top: 20px;
            padding: 1em;
            color: $softBlack;
        }
    }
    
}

/*Styles accompagnement Pros
--------------------*/
.accompagnementPros {
    text-align: center;
    margin-bottom: 0;

    // Fluid font
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 24px;
    $max_font: 38px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    .header1 {
        background-image: url("../assets/imgtextures/raie_orange_h1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding: 1em;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 24px;
        text-align: center;
        max-width: 1140px;
        height: auto;
        
        h3 {
            color: white;
            // padding: 10px;
        }
    
    }
    .acctxt {
        margin-bottom: 0px;
        margin-left: 25px;
        text-align: left;

        h4 {
            display: block;
            margin-bottom: 20px;
        }
    }
}

/*Styles vae Pros
--------------------*/
.vaePros {
    text-align: center;
    margin-bottom: 0;

    // Fluid font
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 24px;
    $max_font: 38px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    .header1 {
        background-image: url("../assets/imgtextures/raie_orange_h1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding: 1em;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 24px;
        text-align: center;
        max-width: 1140px;
        height: auto;
        
        h3 {
            color: white;
            // padding: 10px;
        }
    
    }
    .acctxt {
        margin-bottom: 0px;
        margin-left: 25px;
        text-align: left;

        h4 {
            display: block;
            margin-bottom: 20px;
        }
    }
}

/*Styles modeles
--------------------*/

.modeles {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:first-child {        
        margin-top: 60px;
    }

    // Fluid font
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 24px;
    $max_font: 38px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    .header1 {
        background-image: url("../assets/imgtextures/motif_texture_cercle_orange_h1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding: 1em;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        max-width: 1140px;
        height: auto;
        // border-radius: 20px;
        
        h3 {
            color: white;
            // padding: 10px;
        }
    
    }

    .blockCenter {
        text-align: center !important;

        .blocks {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 400px;
            max-height: 550px;
            background-color: white;
            border-radius: 10px 10px 50px 50px;
            text-align: center;
            position: relative;
            color: $softBlack;
            
            & a {
                text-decoration: none;
            }

            h3 {
                text-align: center;
                text-shadow: 2px 2px 4px rgba(34, 34, 34, 0.5);
                font-size: 1.6rem;

                span {
                    font-size: 80px;
                    font-family: $fontScript;
                    color: $secondary;

                    // Fluid font
                    $min_width: 320px;
                    $max_width: 1200px;
                    $min_font: 64px;
                    $max_font: 80px;
                    @include fluid-type($min_width, $max_width, $min_font, $max_font); 
                }
        
                .euros {
                    font-size: 40px;
                    text-shadow: 1px 1px $secondary;
                    position: relative;
                    top: 5px;
                    // left: -2px;
                }

            }
        }

        .blocks-titles {

            height: 220px;
            width: 320px;
            background-color: $primary;
            background-image: url("../assets/imgtextures/motif_texture_cercle_orange.jpg");
            background-position: 40%;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $softBlack;
            border-radius: 9px 9px 50px 50px;
            -webkit-box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            box-shadow: 0px 3px 5px 2px rgba(46, 46, 46, 0.3);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &:hover { opacity: 0.9;}

            div {
                display: block;
                // padding: 50%;
            }

            p {
                font-family: $fontTexte;
                font-size: 20px;
                color: white;
                margin-bottom: 0;
            }
        }

    }
    
}

/*Styles label
--------------------*/

//Contenu à fournir


/* Styles Contact
----------------------------- */
.contactScript {
    text-align: center;
    span {
        letter-spacing: 12px;
    }    
}

.ratp {
    color: $primary;

    img {
        width: 20px;
        height: auto;
        position: relative;
        top: -2px;
    }
}

#map {
    height: 300px;
    width: auto;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

// .text-danger {
//     display: none;
// }

#contactForm {
    .g-recaptcha {
    width: 100%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    }

    .btnEnvoyer {
        display: block;
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 17px;
        background-color: $primary;
        opacity: 1;

        &:hover {
            background-color: $primaryActive;
        }
    }

    textarea {
        max-height: 160px;
    }

    .success {
        padding: 1em;
        margin-bottom: 0.75rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #468847;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        border-radius: 5px;
    }

    .error {
        padding: 1em;
        margin-bottom: 0.75rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #b94a48;
        background-color: #f2dede;
        border: 1px solid rgba(185, 74, 72, 0.3);
        border-radius: 5px;
    }

    .help-block.with-errors {
        color: #ff5050;
        margin-top: 5px;
    }

}



/* Media Queries Small Screen
---------------------------- */
@include breakpoint(smallScreenSE) {
    .mobileBanner .logo img {     
        height: 28px;
        width: 196px;        
    }

    /* Slider Origine */
    .sliderOrigineContainer {
        padding: 30px 30px;

        .sliderOrigine {
            .slick-next, .slick-prev {
                &::before {
                    display: none;
                }
            }
        }        
    }

    /* Style Contact */
    .modeles {
        .blocks-titles {
            max-width: 288px;
        }
    }

    /* Style Contact */
    .contactScript {
        span {
            letter-spacing: 6px;
        }    
    }
}

